# ------------ Strapi ------------ #
# Local development host is likely "localhost"
HOST=CHANGEME 
PORT=1337
ADMIN_JWT_SECRET=CHANGEME
# Input some long random string
API_TOKEN_SALT=CHANGEME 

# ---------- PostgreSQL ---------- #
# Local development host is likely "localhost"
DATABASE_HOST=CHANGEME  
DATABASE_PORT=5432
DATABASE_USERNAME=CHANGEME
DATABASE_PASSWORD=CHANGEME
DATABASE_NAME=CHANGEME

# ---------- AWS ---------- #
# Variables below aren't needed for local development unless using Cloudinary
CDN_URL=CHANGEME
CDN_ROOT_PATH=CHANGEME
AWS_ACCESS_KEY_ID=CHANGEME
AWS_ACCESS_SECRET=CHANGEME
AWS_REGION=CHANGEME
AWS_ACL=CHANGEME
AWS_SIGNED_URL_EXPIRES=CHANGEME
AWS_BUCKET=CHANGEME

# Strapi will add additional environment variables below (e.g., JWT_SECRET)
